@model SearchViewModel

 
<div>


    <form asp-action="SearchFile" asp-controller="Download" method="get">

        <p><input type="text" asp-for="@Model.Link" /></p>
        @*<p>
            <select asp-for="@Model.FileType">
                <option disabled selected>Choose..</option>
                <option>@FileType.Mp3</option>
                <option>@FileType.Mp4</option>

            </select>
           
        </p>*@
         
       <button type="submit" class="btn btn-primary" >Search</button>
    </form>

</div>